.full-width {
    width: 80%;
    padding: 16px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.credential-content, .password-content {
    display:flex;
    justify-content: center;
}

@media only screen and (max-width: 767px) {
    .credential-content, .password-content {
        flex-direction: column;
    }
}

