<footer>
  <div class="footer-top">
    <div class="column">{{ aboutUs }}</div>
    <div class="column">{{ help }}</div>
    <div class="column">{{ policy }}</div>
    <div class="column">{{ contact }}</div>
    <div class="column">
      Subscribe
      <input type="email" name="" id="" placeholder="Enter your e-mail">
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; {{ copyright }}</p>
    <div class="cards">
      <img src="/assests/cards.png" alt="Payment Methods">
    </div>
  </div>
</footer>
