footer {
    .footer-top {
        display: flex;
        justify-content: space-around;
        background-color: #f1f1f1;
        padding: 20px 0;

        .column {
            flex: 1;
            text-align: center;
        }

        input {
            margin-top: 10px;
            padding: 5px;
            width: 80%;
        }
    }

    .footer-bottom {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px 0;

        .cards img {
            margin-left: 10px;
        }
    }

}