.navbar {
    display: flex;
    align-items: center
}

.title {
    flex: 1;
    font-weight: bold;
}

.spacer {
    flex: 1;
}

.search-field {
    width: 50%;
    margin-right: 15px;
    margin-top: 19px;
}