<ion-footer>
  <ion-toolbar>
    <div class="row">{{ aboutUs }}</div>
    <div class="row">{{ help }}</div>
    <div class="row">{{ policy }}</div>
    <div class="row">{{ contact }}</div>
    <div class="row">
      Subscribe
      <ion-input
        aria-label="Custom input"
        placeholder="Enter Email Address"
        class="custom"
      ></ion-input>
      <ion-button expand="full">Subscribe</ion-button>
    </div>
  </ion-toolbar>
  <ion-toolbar>
    <p>&copy; {{ copyright }}</p>
    <div class="cards">
      <ion-img src="assets/cards.png"></ion-img>
    </div>
  </ion-toolbar>
</ion-footer>

