ion-content.out-content {
    --padding-start: var(--ion-padding, 0px);
    --padding-end: var(--ion-padding, 0px);
    --padding-top: var(--ion-padding, 0px);
    --padding-bottom: var(--ion-padding, 0px);
}
