.product-detail-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
    align-items: start;
    padding: 20px;
}

.image-section, .info-section {
    flex: 1;
    max-width: 800px;
}

.image-section {
    text-align: center;
}

.big-image {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
} 

.small-images {
    display:flex;
    gap: 10px;
    justify-content:center;
}

.small-images img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 4px;
    transition: transform .3s, border .3s;
    border: 2px solid transparent;
}

.small-images img.selected {
    border-color: #007bff;
    transform: scale(1.1);
}

.reviews {  
    display: flex;
    align-items: center;
    gap: 5px;
    color: #ffb400;
}

.price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff; 
}

.actions {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

@media only screen and (min-width: 1199px) {
    .product-detail-container {
        flex-direction: row;
    }
}

@media only screen and (max-width: 1199px) {
    .product-detail-container {
        flex-direction: column;
    }
}



