.category-container {
    padding: 20px;

    .toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .search-bar {
            width: 30%;
        }   
    }

    .mat-table {
        width: 100%;
    
        .category-image {
            height: 50px;
            width: 50px;
            object-fit: cover;
            border-radius: 4px;
        }
    }

}