.variaton-container {
    padding: 20px;
}

.variaton-container .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.variation-header {
    padding: 16px;
}

.spacer {
    flex: 1 1 auto;
}

mat-table {
    width: 100%;
}